* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana Pro' !important;
  }
  .container{
      margin-top: 1%;
  }
  .accordion-button:not(.collapsed) {
      background-color:white !important;
  }
  .accordion-button:focus {
    border-color: white !important;
    box-shadow: none !important;
}
.accordion-item {
    border: 1px solid #a2a2a2 !important;
    margin-bottom: 20px;
}
.abtn{
    color:#000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}
.accordion-button{
    color:#000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}
.abtn:after{
    background-image: none !important;
    font-family: FontAwesome !important;
    content: '\f056'!important;
    width: 35px !important;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top:11px;
    position: absolute;
}
.abtn.collapsed:after{
    content: '\f055' !important;
}
.spaces{
    margin: 4%;
}
.abtntwo:after{
    background-image: none !important;
    font-family: FontAwesome !important;
    content: '\f077';
    width: 35px !important;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top:11px;
    position: absolute;
}
.abtntwo.collapsed:after{
    content: '\f078' !important;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}